html, body{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.d-flex{
    justify-content: center;
}

.card-body, .col-md-8 {
    margin: 0 auto;
    float: none;
}

h4, h3, .card-text {
	text-align: center
}
