.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  h1 {
    text-align: center;
  }
  .card-text { /* Este le coloca margenes al texto y lo justifica*/
    z-index: 1;
    position: relative;
    margin: 20px 30px 0px 30px;
    text-align: justify;
  }

   /* GO TOP */
   .go-top-container{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    z-index: -1;
}

.go-top-button{
    width: 0rem;
    height: 0rem;
    background: #cddae6;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1; 
}

.go-top-button i{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color: rgb(248, 245, 245);
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 2rem;
    height: 2rem;
    z-index: 11;
}

.show i{
    transform: translate(-50%,-50%) scale(1);
}

@keyframes popup{
    0%{
    width: 0rem;
    height: 0rem;
    }
    50%{
    width: 1rem;
    height: 1rem;
    }
    100%{
    width: 2rem;
    height: 2rem;
    }
}

/* Imagenes de proyectos */
.bd-placeholder-img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
